<section class="contact mb-5">
  <div class="text-center">
    <app-headingtitle
      [headingTitle]="headingTitle"
      [headingColor]="headingColor"
    ></app-headingtitle>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <form (submit)="submit($event)">
          <label
            for="userName"
            class="position-relative text-color transition top-0 _top"
            >userName :</label
          >
          <input
            (input)="input($event)"
            type="text"
            class="form-control border-0 border-bottom py-4 position-relative"
            name="userName"
            placeholder="userName"
            id="userName"
          />
          <label
            for="userAge"
            class="position-relative text-color transition top-0 _top"
            >userAge :</label
          >
          <input
            (input)="input($event)"
            type="text"
            class="form-control border-0 border-bottom py-4 position-relative"
            name="userAge"
            placeholder="userAge"
            id="userAge"
          />
          <label
            for="userEmail"
            class="position-relative text-color transition top-0 _top"
            >userEmail :</label
          >
          <input
            (input)="input($event)"
            type="email"
            class="form-control border-0 border-bottom py-4 position-relative"
            name="userEmail"
            placeholder="userEmail"
            id="userEmail"
          />
          <label
            for="userPassword"
            class="position-relative text-color transition top-0 _top"
            >userPassword :</label
          >
          <input
            (input)="input($event)"
            type="password"
            class="form-control border-0 border-bottom py-4 position-relative"
            name="userPassword"
            placeholder="userPassword"
            id="userPassword"
          />
          <button class="mt-5 main-btn rounded-2 bg-main">
            send a message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
