.portfolio {
  margin-top: 9rem;
}
/* portfolio-image */
.portfolio-image {
}
picture {
  display: block;
}

.image-layout {
  background-color: rgba(26, 188, 156, 0.9);
  inset: 0;
  font-size: 9.6rem;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0;
}

.portfolio-image:hover .image-layout {
  opacity: 1;
}

.pop-up img {
  width: 60rem;
  align-self: center;
}

.pop-up {
  background-color: rgba(44, 62, 80, 0.5);
  backdrop-filter: blur(5px);
}
